.react-calendar__month-view {
  padding: 10px !important;
  position: relative !important;
}

.react-calendar__month-view__weekdays__weekday {
  background-color: transparent !important;
  height: 80px !important;
}

.react-calendar__month-view__days {
  flex-wrap: nowrap !important;
  height: 600px !important;
}

.react-calendar__tile {
  flex-direction: column;
  align-items: center !important;
  width: 100% !important;
  min-width: 255px !important;
  height: 100% !important;
  padding: 15px !important;
  margin: 3px !important;

  .hr_hrBar {
    color: #6a5096;
    width: 100%;
    margin: 10px;
  }

  ul > * {
    border: 2px solid #6a5096;
    font-size: 20px;
    width: 100%;
    padding: 5px;
    margin: 5px 0;
  }
}
