.naver-login-btn {
  background-color: #03c75a;
  color: white;
  border: none;
  padding: 12px 24px;
  width: 100%;
  height: 48px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  margin-bottom: 10px;
}

.naver-login-btn:hover {
  background-color: #02a64d;
}

img {
  width: 16px;
  height: 16px;
}
