.sub_page {
  padding: 40px;
  background-color: #f4f4f9;
  width: 100%;
  height: 100%;

  .sub_title {
    font-size: 24px;
    font-weight: bold;
    margin: 0px 20px 40px 20px;
    border-bottom: solid 1px #bdbdbd;
    padding-bottom: 12px;
  }

  .idol_card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;

    .idol_card {
      width: 48%;
      height: 150px;
      display: flex;
      align-items: center;
      border: solid 1px #d9d9d9;
      border-radius: 50px;
      margin: 8px;
      padding: 15px;
      background-color: white;

      .idol_img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        margin: 10px;
      }

      .idol_info {
        margin-left: 2%;

        .idol_name {
          font-size: 20px;
          font-weight: bold;
          margin: 5px;
        }

        .idol_mem,
        .idol_agency {
          color: #9d9d9d;
          font-size: 14px;
          margin: 5px;
        }
      }

      .switch {
        position: relative;
        display: inline-block;
        width: 70px;
        height: 40px;
        margin-left: auto;
        margin-right: 20px;

        // 체크박스 숨기기
        input {
          opacity: 0;
          width: 0;
          height: 0;
        }
      }

      .slider {
        position: absolute;
        cursor: pointer;
        background-color: #a1a1a1;
        border-radius: 60px;
        border: #a1a1a1 solid 1px;
        width: 70px;
        height: 40px;
        transition: 0.4s;
      }
      .slider::before {
        position: absolute;
        content: '';
        height: 34px;
        width: 34px;
        background-color: white;
        border-radius: 50%;
        transition: 0.4s;
        left: 2px;
        top: 2px;
      }
      input:checked + .slider {
        background-color: #6a5096;
      }

      /* 체크되었을 때 동그라미 위치 변경 */
      input:checked + .slider::before {
        transform: translateX(30px);
      }
    }
  }
}
