.joinpage_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  background-color: #f4f4f9;
}

.join_form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; // 입력 필드 간 간격 일정하게

    label {
      font-size: 12px; // 더 작은 폰트 크기
      font-weight: 300; // 얇은 폰트
      color: #666; // 연한 색상
      margin-bottom: 6px; // label과 input 사이 간격 일정하게
      display: flex;
    }
    .user_info_view {
      color: #ccc;
      position: fixed;
      z-index: 10;
      margin-left: 15px;
    }

    .join_input {
      height: 43px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .inline-group {
      display: flex;
      align-items: center;
      gap: 10px;

      input {
        flex: 1;
      }

      button {
        width: 80px;
        padding: 12px;
        background: #6a5096;
        color: white;
        font-size: 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          background-color: #d9c2ff;
        }
      }
    }
  }

  /* 경고 문구 */
  .password_warning {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  .warning {
    display: inline;
    color: red;
    font-size: 12px;
    margin-left: 5px;
  }

  /* 비밀번호 강도 */
  .password-strength {
    margin-left: 5px;
    padding: 1px;
    font-weight: 600;
    &.strong {
      background: green;
      color: #fff;
    }
    &.medium {
      background: rgb(234, 140, 0);
      color: #fff;
    }
    &.weak {
      background: #ff1a1a;
      color: #fff;
    }
  }

  .submit-btn {
    width: 100%;
    padding: 12px;
    background: #6a5096;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;

    &:hover {
      background-color: #d9c2ff;
    }
  }
}
