/* LAYOUT */
.main_content {
  display: flex;
  height: 100vh; /* 전체 화면 높이 */
}

main {
  flex-grow: 1; /* 남은 공간을 모두 차지 */
  overflow: auto; /* 스크롤 가능하도록 설정*/
  margin-left: calc(max(23vw, 300px));
  margin-top: 75px;
  width: 80vw; /* 메인 영역을 80%로 꽉 차게 설정 */
  min-height: 80vh; /* 필요하면 높이도 설정 */
  flex-grow: 1;
  background-color: #fff;
}

/* HEADER */
.header {
  position: fixed;
  z-index: 1; /* 사이드바보다 높게 설정 */
  top: 0;
  display: flex;
  width: 100vw;
  height: 75px;
  padding: 15px 15px;
  align-items: center;
  border-bottom: 1px solid #dde1e6;
  background: #fff;

  .logo img {
    width: 130px;
    height: 50px;
    margin-left: 35px;
  }

  /* userRole - Guest*/
  .nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 60px;
  }

  .login_Button {
    width: 85px;
    height: 30px;
    background: #6a5096;
    color: #fff;
    border: none;
  }
  .signup_Button {
    width: 85px;
    height: 30px;
    background: #fff;
    border: 1px solid #6a5096;
    color: #6a5096;
  }

  /* userRole - User*/
  .nav_Links {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .page_Button {
    width: 100px;
    height: 30px;
    background: #fff;
    border: 1px solid #6a5096;
    color: #6a5096;
  }
  .logout_Button {
    width: 40px;
    height: 30px;
    background: #6a5096;
    border: none;

    img {
      width: 17px;
      height: 17px;
    }
  }
  .add_Button {
    width: 85px;
    height: 30px;
    background: #6a5096;
    border: 1px solid #6a5096;
    color: #fff;
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13.5px;
  font-weight: 600;
  line-height: normal;
  border-radius: 5px;
  flex-shrink: 0;
  cursor: pointer;
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 300px;
  height: 30px;
  padding: 0 10px;
  background: #f7f7f7;
  border-radius: 5px;
  border: 1px solid #f7f7f7;
  gap: 2px;

  .search_Icon {
    width: 18px;
    height: 18px;
    margin-right: 5px;
  }

  input {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 13px;
    font-weight: 600;
    color: #646464;
    outline: none;

    &::placeholder {
      color: #b8b8b8;
      font-size: 13px;
      font-weight: 600;
    }
  }
  //드롭다운
  .search_dropdown {
    position: absolute;
    top: 35px;
    left: 0;
    width: 300px;
    background-color: white;
    border: 1px solid #f7f7f7;
    border-radius: 5px;
    overflow: hidden;
    z-index: 10;

    .dropdown_item {
      display: flex;
      align-items: center;
      height: 50px;
      padding: 8px;
      font-size: 13px;
      cursor: pointer;
      transition: 0.2s;
      border-bottom: #f7f7f7 1px solid;

      &:hover {
        background-color: #f7f7f7;
      }

      .dropdown_text {
        margin-left: 30px;
        align-items: center;
      }
    }
    .dropdown_no_result {
      color: #646464;
      margin: 10px;
      font-weight: bold;
      text-align: center;
    }
    .dropdown_more {
      font-weight: bold;
      color: #646464;
      margin: 10px;
      text-align: center;
    }
  }
}

a {
  text-decoration: none;
}

/* SIDEBAR */

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 23vw;
  min-width: 300px;
  height: 100%;
  background: #f0e5fe;
  padding: 110px 60px 0;
  flex-shrink: 0; /* 사이드바가 줄어들지 않도록 설정 */

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #6a5096;
    padding-bottom: 10px;
    border-bottom: 1px solid #6a509680;
  }

  &_toggle {
    background: #f0e5fe;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    &:hover {
      background: #e8d9fb;
      color: white;
    }
  }

  &_add {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #6a5096;
  }

  &_list {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;

    .sidebar_item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      font-size: 16px;
      color: #6a5096;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }

  &_edit {
    background: #6a5096;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
  }

  &_view {
    position: absolute;
    left: 60px;
    bottom: 80px;
    width: 16vw;
    cursor: pointer;
    min-width: 180px;
    height: 40px;
    background: #6a5096;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
}

/* FOOTER */
.footer {
  display: flex;
  //left: 20vw;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-width: 1920px;
  height: 40px;
  background: #6a5096;
  color: white;
  padding: 0 60px;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  z-index: 2;

  &__content {
    flex: 1;
    text-align: left;
  }

  &_links {
    display: flex;
    justify-content: center;
    gap: 15px;

    p {
      display: inline-block;
      color: white;
      transition: 0.3s;

      &:hover {
        text-decoration: underline;
      }
    }

    .highlight {
      font-weight: bold;
    }
  }

  &__copyright {
    flex: 1;
    text-align: right;
  }
  @media (max-width: 900px) {
    .footer_copyright {
      display: none;
    }
  }

  @media (max-width: 700px) {
    .footer_content {
      display: none;
    }
  }

  @media (max-width: 400px) {
    .footer_links {
      justify-content: center;
      width: 100%;
    }
  }
}
