html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #c8b8e7, #ffffff); // 그라데이션 배경
  background-size: cover;
  background-position: center;
}
