@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:
    'SUIT Variable', 'Apple SD Gothic Neo', 'Noto Sans KR', sans-serif;
}
